.container
{
	position:absolute; 
	top: 5vh; 
	left: calc(50vw - 200px);
	color: #212121; 
	text-align: center; 
	font-family: 'Oswald', sans-serif;
	font-size: 6;
	width: 400px;
	height: 50px;
}

.row
{
	margin: 20px;
}

.form-group
{
	margin: 10px;
}

.form-control 
{
	width: 300px;
	height: 20px;
	margin: 1px;
	text-align: center; 
}

.btn
{
	width: 300px;
	height: 30px;
	border: 2px;
	text-align: center; 
	border-radius: 4px;
	margin: 1px;
}

a
{
	color: #336699; 
}

